* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 200px;
    margin: 0;
    display: flex;
    font-size: 50px;
    width: 100;
    height: 100;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

header p {
    padding: 20px;
}

header a {
    color:black;
    padding: 20px;
    text-decoration: none;
}

header a:hover {
    color: blue;
}

.quiz-title h1 {
    font-size: 50px;
}

.quiz-title p {
    font-size: 30px;
}

.btn {
    color: white;
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 8px;
    padding: 5px;
    border: none;
}

.ans-btn {
    width: 50%;
    align-items:center;
    justify-content: center;
    margin-left: 150px;
}

.btn:hover {
    background-color: white;
    color: blueviolet;
    border: solid 2px blueviolet;
    font-weight: bold;
}

.quiz-title h1 {
    text-align: center;
    margin: 35px auto 10px;
}

.answers {
    display: grid;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.start-btn, .next-btn {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 20px;
    display: grid;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.hide {
    display: none;
}

